#emscontent {
    background-image: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.5)), url('img/body.png');
    background-color: #F6F7F9;
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: row;
    width: 88%;
}


#leftside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

#rightside {
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#headerSection {
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#caseCountContainer h1{
    font-size: 50px;
    margin: 0;
}

#caseCountContainer p{
    margin: 0;
}


#caseBtnContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.caseBtn {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 15px;
    font-size: 32px;
}

.caseBtn:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.05);
}


#footerSection {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#informationBox {
    display: flex;
    column-gap: 15px;
    overflow-x: auto;
}

.infoBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
}

.infoBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoBoxHeader p {
    font-size: 12px;
}

.iconPulse {
    height: 35px;
    width: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F1;
}

.iconPulse img{
    height: 25px;
    width: auto;
}

#infoBoxBody {
    margin-top: 5px;
    font-size: 14px;
}


#rightContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px;
    max-height: 550px;
    width: 300px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: auto;
}

.journalBox {
    display: flex;
    column-gap: 40px;
}

.journalDate h1, p {
    margin: 0;
}

.journalInfoBox {
    padding: 10px;
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 10px;

}

.journalInfoBoxHeader {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.journalInfoBoxHeader h1 {
    font-size: 16px;
    margin: 0;
}